* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 20px;
}

header {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 10px;
}

#photo_container {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 10px;
  padding: 10px;
}

#photo_container img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  padding: 10px;
}

.error{
  min-height: 500px;
  display:grid;
  place-items: center;
  text-align: center;
  width: 100%;
}