* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  padding: 20px;
  background-color: rgb(0, 0, 0);
  color: whitesmoke;
}

header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

header > img {
  height: 30px;
  width: auto;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

main img {
  width: 100%;
}

footer {
  height: 100px;
  display: grid;
  place-items: center;
}
