header {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul {
  display: flex;
  gap: 40px;
  list-style: none;
}

header h1 {
  font-size: 24px;
}

.linkactive {
  color: orange;
}
